*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-image:url(retro-5.gif);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
img{
height: 100vh;
width: 100vw;
}
iframe{
    opacity: 0;
}
.controls {
  margin-top: 550px;
  margin-left: 30px;
  /* background-color: red; */
  height:50px; 

}

/* button {

  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background: #d87c5f;
  color: white;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

button:hover {
  background: #c66b4f;
} */

/* Hide iframe but keep audio */
#player iframe {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -9999px;
}
.material-symbols-outlined {
  font-size: 498px ; /* icon size */
  color: #ff0000 ;  /* icon color */
  cursor: pointer; /* makes it clickable like a button */
  
}
